{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <ul>
            {% for article in user_articles %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for category in object_list %}
        <p> {{ category.name }} </p>
        {% if article.author != user %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'article_create' %}">Create an article</a>
    {% endif %}
{% endblock %}